.history-branch-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.history-branch-list-inner {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
