{
  "parser": "typescript-eslint-parser",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    // conflicts with 'arrow body style'
    "no-confusing-arrow": "off",

    // emits false positives with types that are imported
    "no-unused-vars": "off",

    // emits false positives on default typed arguments
    "space-infix-ops": "off",

    // workaround for incomplete types
    "dot-notation": "off",

    // due to TypeScript
    "no-undef": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/prop-types": "off"
  }
}
