.state-entry-enter {
  opacity: 0;
  transform: translate(0, 50%);
}

.state-entry-enter.state-entry-enter-active {
  opacity: 1;
  transform: translate(0%, 0%);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.state-entry-leave {
  opacity: 1;
  transform: translate(0%);
}

.state-entry-leave.state-entry-leave-active {
  opacity: 0;
  transform: translate(100%, 0%);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}
