$placeholder-highlight: #f00;

%flexy {
  display: flex;
  flex: 1;
  max-height: 100%;
}

.history-bookmark-list {
  @extend %flexy;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.placeholder {
  background: $placeholder-highlight;
  height: 5px;
}

.history-bookmark-end-sentinel {
  height: 5px;
}

.bookmark-list {
  flex: 1;
}