$black: #000;
$white: #fff;
$highlight: #f93;
$charcoal: #5d6d7e;

.history-branch {
  border-top: 1px solid $white;
  min-height: 30px;
  min-width: 250px;
  position: relative;
  overflow: hidden;

  &:not(:hover) {
    border-right: 3px solid transparent;
  }

  &:hover {
    border-right: 3px solid $highlight;
  }


  .branch-details {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 100%;
    left: 0;
    padding-left: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    .branch-name {
      font-weight: 300;

      &:active {
        color: $black;
      }

      &:not(.active) {
        color: $charcoal;
      }
    }
  }
}

.history-branch-profile-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.history-branch-background {
  align-items: stretch;
  display: flex;
  height: 100%;
  width: 100%;
}
