%flexy {
  display: flex;
  flex: 1;
  max-height: 100%;
}

.history-container {
  @extend %flexy;
  align-content: space-between;
  flex-direction: column;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow: hidden;
}
.history-container::-webkit-scrollbar {
  display: none;
}

.state-list-container {
  display: flex;
  flex-direction: column;
  flex: 2; 
  overflow-x: hidden;
  overflow-y: scroll;
}

.branch-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3px;
  max-height: 35%;
  overflow: hidden;
}

.history-view {
  @extend %flexy;
  flex-direction: column;
}

.history-item-container {
  @extend %flexy;
  align-items: stretch;
  flex-direction: column;
  margin-left: 1px;
}

.history-option-menu {
  min-height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.history-control-bar {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 24px;

  .title {
    font-weight: bold;
    margin-left: 10px;
  }
}

.view-options-dropdown {
  display: block;
  right: 0;
}

.history-type-dropdown-trigger {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.dropdown-option-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-select-dropdown {
  display: flex;
  font-weight: bold;
  margin-left: 5px;
}
